#first_wrapper{
	position: absolute;
	top: 400px;
	width: 100%;
	height: 320px;
	*border: 1px solid red;
}

#center_wrapper{
	position: relative;
	*border: 1px solid green;
	height: 320px;
	width: 80%;
	margin: 0 auto;
}

.notes{
	width: 250px;
	height: 250px;
	box-shadow: 2px 2px 5px grey;
}

#note_left{
	position: relative;
	left: 0px;
	background-color: #fbf6a7;/*yellow*/
	opacity: 0;
	*float: left;
}

#note_center{
	position: relative;
	margin: 0 auto;
	background-color: #c5a5cf;/*pink*/
	opacity: 0;
	*float: left;
	*margin-left: 5%;
}

#note_right{
	position: relative;
	background-color: #badbab;/*green*/
	opacity: 0;
	float: right;	
}

#second_wrapper_1, #second_wrapper_2, #second_wrapper_3 {
	*border: 1px solid black;
	position: relative;
	width: 33%;
	height: 100%;
	float: left;
}

#second_wrapper_2 {
	width: 34%;
}

#note_left:hover{
	webkit-transition: ease 1s;
	transition: ease 1s;
	background-image: url(../images/note_left.png);
	background-size: cover;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	border-radius: 25%;
	*background-color: #a0c3ff;/*blue*/
}

#note_center:hover{
	webkit-transition: ease 1s;
	transition: ease 1s;
	background-image: url(../images/note_center.png);
	background-size: cover;
	*background-color: #f8b39b;
	border-radius: 25%;
	
}

#note_right:hover{
	webkit-transition: ease 1s;
	transition: ease 1s;
	background-image: url(../images/note_right.png);
	background-size: cover;
	*background-color: #ed9d97;
	border-radius: 25%;	
}